.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
  width: 1200px;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1.2rem;
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 0.7rem 0 1.5rem;
}

.portfolio__item-cta {
  display: flex;
  gap: 0.7rem;
  margin-bottom: 0.5rem;
}

.responsive {
  overflow: hidden;
}

#portfolio {
  margin-top: 130px;
}

/* ==============MEDIA QUERIES(MEDIUM DEVICE)================ */
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1.3rem;
    width: 300;
  }
}

/* ===============MEDIA QUERIES(SMALL DEVICE)================ */
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 380px;
  }
  #portfolio {
    margin-top: 330px;
  }
}
